pymupdf
loguru
langchain
langchain-openai
langchain_community
pillow
pandas
xlwings
openpyxl
PyPDF2
chardet
paddleocr
opencv-python
paddlepaddle
retrying
unstructured
python-magic-bin
flask
lark_oapi
fuzzywuzzy